<h1 class="text-center">Editar dados da Agenda</h1>
<p class="text-center lead">Altere os dados necessarios</p>

<section>
<div class="container">
          {{#each listaFormatada}}
            <form  action="/editar/agenda/{{id}}" method="post">
                <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Informe o seu nome</label> 
                <select class="form-select" name="nomeCliente">
                {{#each listaCliente}}
                <option value= {{nomeCliente}}> {{nomeCliente}} </option>
                 {{/each }}
                </select>
            </div> 
                <div class="mb-3">
    
                <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Informe o barbeiro da sua preferencia</label>
                <select class="form-select" name="nomeBarbeiro">
                {{#each listaBarbeiro}}
                <option value={{nome}}> {{nome}} </option>
                 {{/each }}
                </select>
                </div>
                </div>
                 <div class="mb-3">
                 <label for="exampleInputEmail1" class="form-label">Selecione a Data</label>
                 <input class="form-control" type="date" value="{{data}}" name="data" id="">
                 </div>
                 <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Selecione a hora</label>
                <input class="form-control" type="time" name="{{hora}}" value="horas" id="">
                </div>
                <div class="mb-3">
                <button class="btn btn-success" type="submit" id="buttonCadastro">Salvar alteracao no cadastro</button>
                </div>
            </form>
            {{/ each}}
</div>
</section>