
<h1 class="text-center my-2">Lista de clientes </h1>
<p class="text-center lead">Edite ou exclua os dados se necessario </p>

<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand"></a>
    <form class="d-flex" role="search" method="get" >
      <input class="form-control me-2" type="search" name="pesquisarCliente" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>

<div class="responsive-table">
<table class="table my-2 ">
    <tr class="table-warning" >
      <th class="text-center" scope="col">Nome</th>
      <th class="text-center" scope="col">idade</th>
      <th  class="text-center" scope="col">email</th>
      <th class="text-center" scope="col">telefone</th>
      <th class="text-center" scope="col">corte favorito</th>
      <th class="text-center" scope="col">identificador</th>

    </tr>
  </thead>
  <tbody>
     {{#each lista}}
     <tbody>
       <tr>
        <td class="text-center"> {{nomeCliente}}  </td> 
        <td class="text-center"> {{idade}}  </td> 
        <td class="text-center"> {{email}}  </td> 
        <td class="text-center"> {{telefone}}</tdclass=> 
        <td class="text-center"> {{corte}}  </td> 
        <td class="text-center"> {{id}} </td>
        <td class="text-center"> <a href="/editar/cliente/{{id}}"> editar </a></td> 
        <td class="text-center"> <a class="text-danger" href="/excluir/cliente/{{id}}">Excluir</a></td>
      </tr>
     {{/each}}
    </tbody>
</table>
</div>

